* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
}

.title_box {
    width: 100vw;
    height: 13vh;
    background-color: #D8E2DC;
    display: flex;
    gap: 4%;
}

.college_logo {
    height: 13vh;
}

.college_name_box {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.college_name {
    font-size: 5.5vh;
    text-align: center;
    width: 80%;
    min-width: 800px;
}

.navbar_box {
    width: 100vw;
    height: 6vh;
    background-color: white;
}

.nav_items {
    display: flex;
    flex-direction: row;
    height: 80%;
    padding-top: 1vh;
    gap: 4vw;
}

.items {
    padding-top: 1.5vh;
    text-align: center;
    font-size: 22px;
}

#home {
    padding-left: 2.5vw;
}

.forms_list {
    display: none;
    position: absolute;
    min-height: 15vh;
    z-index: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #cbded2;
    border-radius: 10px;
}

#forms:hover .forms_list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vh;
}

#forms:hover #gate_pass {
    margin-top: 10%;
}

.hover_pass:hover {
    background-color: #e5fdef;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}


.bottom_nav_line {
    height: .3px;
    margin-left: 1.5vw;
    width: 97vw;
}


.gate_pass_box {
    background-color: #cbded2;
    position: absolute;
    height: 70vh;
    width: 80vw;

    top: 25vh;
    /* adjust as needed */
    right: 10vw;
    /* adjust as needed */
    border: 2px solid black;
    min-width: 613px;
}

.form_name {
    font-size: 11vh;
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    padding-left: 2%;
}

.pass_input {
    height: 55vh;
    width: 45vw;
    background-color: #FFFFFF;
    position: absolute;
    top: 4vh;
    right: 4vw;
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    flex-direction: row;
}

#name {
    margin-left: 2px;
    width: 41vw;
    height: 2vh;
}

.hostel_Name {
    display: flex;
    flex-direction: row;
}

#hostel_Name {

    width: 38vw;
    height: 2vh;
}

.roll_no {
    display: flex;
    flex-direction: row;
}

#roll_no {

    width: 40vw;
    height: 2vh;
}

.room_no {
    display: flex;
    flex-direction: row;
}

#room_no {

    width: 39vw;
    height: 2vh;
}

.button {
    font-size: 3ch;
    height: 5vh;
    width: 6vw;
    border-radius: 12px;
    background-color: #A3D3F7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 23vw;
    top: 62vh;
}