*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: black;
}

.title_box{
    width: 100vw;
    height: 13vh;
    background-color:#D8E2DC;
    display: flex;
    gap: 4%;
}
.college_logo{
    height: 100%;
}
.college_name_box{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.college_name{
    font-size:5.5vh ;
    text-align: center;
    width: 80%;
}
.navbar_box{
    width: 100vw;
    height:6vh;
;
}
.nav_items{
    display: flex;
    flex-direction: row;
    height: 80%;
    padding-top:1vh;
    gap: 4vw;
}
.items{
    padding-top: 1.5vh;
    text-align: center;
    font-size: 22px;
}

#home{
    padding-left: 2.5vw;
}

.forms_list{
    display: none;
    position: absolute;
    min-height: 15vh;
    z-index: 3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:#D8E2DC;
    border-radius: 10px;
}
#forms:hover .forms_list{
    display:flex;
    flex-direction: column;
    align-items:start;
    gap: 1.5vh;
}
#forms:hover #gate_pass{
    margin-top: 10%;
}
.hover_pass:hover{
    background-color:#e5fdef ;
    width:100%;
    text-align:left;
    border-radius: 5px;
}



hr{
    width:97vw;
    height: .3px;
    margin-left: 1.5vw;
}

.holiday_form_box{
    width:80vw;
    height: 75vh;
    background-color:#D8E2DC ;
    position: absolute;
    left: 10vw;
    top: 21vh;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #000000ee;
    min-width: 390px;
}
.data_box{
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    height: 98%;
    width: 98%;
}
.lines{
    height: 9%;
    width: 100%;
}
.line_data{
    display: flex;
    width: 100%;
}
.data_section{
    display: flex;
    width: 100%;
}
.data_box_tag{
    font-size: 20px;

}
.data_box_input{
    border: none;
    background-color:#D8E2DC ;
    font-size: 20px;
    width: 70%;
}

