*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.title{
    background-color: #D3D3D3;
}

.college_logo{
    height: 90px;
    width: 90px;
    margin-top: 5px;
    margin-left: 5px;
}
.college_name {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}


a{
    text-decoration: none;
    color: black;
}
header{
    position: fixed;
    z-index: 2;
}

.title_box{
    width: 100vw;
    height: 13vh;
    background-color:#D8E2DC;
    display: flex;
    gap: 4%;
}
.college_logo{
    height: 13vh;
}
.college_name_box{
    width:100vw;
    display: flex;
    justify-content: center;
}
.college_name{
    font-size:5.5vh ;
    text-align: center;
    width: 80%;
    min-width:800px;
}
.navbar_box{
    width: 100vw;
    height:6vh;
    background-color: white;
}
.nav_items{
    display: flex;
    flex-direction: row;
    height: 80%;
    gap: 4vw;
}
.items{
    padding-top: 1.5vh;
    text-align: center;
    font-size: 22px;
}

#home{
    padding-left: 2.5vw;
}

.forms_list{
    display: none;
    position: absolute;
    min-height: 15vh;
    z-index: 5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:#cbded2;
    border-radius: 10px;
}
#forms:hover .forms_list{
    display:flex;
    flex-direction: column;
    align-items:start;
    gap: 1.5vh;
}
#forms:hover #gate_pass{
    margin-top: 10%;
}
.hover_pass:hover{
    background-color:#e5fdef ;
    width:100%;
    text-align:left;
    border-radius: 5px;
}
title{
    background-color: #D3D3D3;
  }
.bottom_nav_line{
    height: 4px;
    margin-left: 1.5vw;
    width:97vw;
}
.holiday_form_box{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width:80vw;
    height: 75vh;
    background-color:#D8E2DC ;
    position: absolute;
    left: 10vw;
    top: 21vh;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #000000ee;
    min-width: 390px;
}

.holiday_form_box h1{
    font-size: 3vw;
    text-align: center;
}
.data_box{
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    height: 98%;
    width: 98%;
}
.lines{
    height: 9%;
    width: 100%;
}
.line_data{
    display: flex;
    width: 100%;
}
.data_section{
    display: flex;
    width: 100%;
}
.data_box_tag{
    font-size: 20px;

}
.data_box_input{
    border: none;
    background-color:#D8E2DC ;
    font-size: 20px;
    width: 70%;
}
label{
    font: 2vw; 
}

.Submit{
    position: absolute;
    top: 85%;
    left: 45%;
    height: 5vh;
    width: 7vw;
    font-size: 1.5vw;
}

@media(max-width : 1050px){
    .college_name {
        font-size: 32px;
        margin-top: 10px;
    }
}

@media(max-width : 500px){
    .college_name {
        font-size: 20px; 
    }
}