.dropdown-menu{
    width: 350px;
}
*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  .dropdown-item:hover{
    background-color: #ED4700;
    color:white;
  }
 
  .dropdown-item:hover span{
    color: white;
  }

  .dropdown-item:hover svg path{
    stroke: white;
  }
  .anchor{
    text-decoration: none;
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    
  }
  .anchor:hover{
    background-color: #ED4700;
    color: white;
    text-decoration:none;
  }

  .btn2{
    background-color: white;
    border:none;
  }
  .btn2:hover{
    background-color: white;
  }
  .btn2:active{
    border: none;
  }

  .btn1{
    background-color: white;
    border:none;
    color: black;
  }
  .btn1:hover{
    background-color: #ED4700;
  }
  .btn1:active{
    border: none;
  }