*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.page{
    height: 100vh;
    width: 100vw;
    background-image: url('college.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.image_layer{
    background: rgba(0, 0, 0, 0.562);
    height: 100vh;
    width: 100vw;
}
.title{
    height: 110px;
    width: 99%vw;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-top: 1%;

}
.college_logo{
    height: 100px;
    width: 100px;
}
.college_name_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;


}
.college_name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
}
#para2{
    width: 100%;
    display: flex;
    align-items:  center;
    justify-content: center;
}
.hostel_portal{

position: absolute;
width: 40vw;
height: 10vh;
left: 40vw;
top: 25vh;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 55px;
display: flex;
align-items: center;
text-align: center;

color: #A80000;
}

.log_in_box{
position: absolute;
width: 60vw;
height: 50vh;
left: 21vw;
top: 38vh;

background: rgba(0, 0, 0, 0.49);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#login{
width: 50%;
height: 15%;
padding-bottom: 9%;

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 65px;
text-align: center;

color: #dfc2c2;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-add-std-box{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.administration_box{

width: 230px;
height: 100px;
background: #6B0000;
border-radius: 45px;
margin-right:130px ;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: white;
font-size: 22px;

}
.student_box{
    width: 230px;
    height: 100px;
    background: #6B0000;
    border-radius: 45px;
    margin-left:130px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: white;
}
a{
    text-decoration: none;
}
